@{
    ViewData["Title"] = "CV";
}

<div>
<p>Visit me at...</p>
<a href="https://www.linkedin.com/in/martinpedersenoslo/">
<img class="img-thumbnail" alt="LinkedIn" src="~/images/LinkedIn-Logo.png" >
</a>
</div>

