@{
    ViewData["Title"] = "CV";
}

<div>
<p>Visit me at...</p>
<a href="https://no.linkedin.com/in/pnitram">
<img class="img-thumbnail" alt="LinkedIn" src="~/images/LinkedIn-Logo.png" >
</a>
</div>

