@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <img src="~/images/martinpedersenno-logos_croppedv2.jpg" class="img-fluid" alt="martinpedersen.no">
    <h1 class="display-4">Martin Pedersen</h1>
    
 

    <p>Senior Systems Consultant and Techncal Account Manager at <a class="text-decoration-none" href="https://cloud.orange-business.com/no/" target="_blank">Orange Business AS - Digital Services Europe</a>.</p>
    <p>I have a Bachelor in Information Systems and IT Management from University of South-Eastern Norway.</p> 
    <p>Some of the technologies i work with daily or have as a hobby is:</p>
    <ul class="list-unstyled">
        <li>Azure</li>
        <li>AKS</li>
        <li>K8S</li>
        <li>DevOps</li>
        <li>VMware</li>
        <li>Hyper-V</li>
        <li>Linux</li>
        <li>Bash</li>
        <li>.NET Core</li>
        <li>C#</li>
        <li>ITIL</li>
        <li>Automation</li>
        <li>Networking</li>
    </ul>
<p>This site is created with <a class="text-decoration-none" href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-6.0" target="_blank">ASP.NET Core MVC</a>, packaged in a <a class="text-decoration-none" href="https://docker.com" target="_blank">Docker container</a> created for <a class="text-decoration-none" href="https://azure.microsoft.com/nb-no/services/kubernetes-service/" target="_blank">Azure Kubernetes Service (AKS)</a>.
<br>Currently running on Microsofts new <a class="text-decoration-none" href="https://azure.microsoft.com/en-us/services/container-apps" target="_blank">Azure Container Apps</a> service.</p>
<a class="btn btn-primary" style="background-color: #55acee;" href="https://github.com/pnitram/martinpedersen.no_.net_core_mvc/fork" target="_blank" role="button" ><i class="fab fa-github me-2"></i>Fork me on GitHub</a>
</div>
