@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <img src="~/images/martinpedersenno-logos_croppedv2.jpg" class="img-fluid" alt="martinpedersen.no">
    <h1 class="display-4">Martin Pedersen</h1>
    
 

    <p>Systems Consultant and Techncal Account Manager at <a class="text-decoration-none" href="https://basefarm.com" target="_blank">Basefarm AS</a>.</p>
    <p>I have a bachelor degree in Information Systems and IT-management from University of Southeast Norway.</p> 
    <p>Some of the technologies i work with daily or have as a hobby is:</p>
    <ul class="list-unstyled">
        <li>Azure</li>
        <li>AKS</li>
        <li>DevOps</li>
        <li>VMware</li>
        <li>Hyper-V</li>
        <li>Linux</li>
        <li>Bash</li>
        <li>.NET Core</li>
        <li>C#</li>
        <li>ITIL</li>
        <li>Automation</li>
        <li>Networking</li>
    </ul>
<p>This site is created with <a class="text-decoration-none" href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-6.0" target="_blank">ASP.NET Core MVC</a>, packaged in a <a class="text-decoration-none" href="https://docker.com" target="_blank">Docker container</a> and deployed in <a class="text-decoration-none" href="https://azure.microsoft.com/nb-no/services/kubernetes-service/" target="_blank">Azure Kubernetes Service (AKS)</a>.</p>

</div>
