@{
    ViewData["Title"] = "Projects";
}

<div><p>View my projects at... </p>
<a href="https://github.com/pnitram">
<img class="img-thumbnail" alt="GitHub" src="~/images/Github_logo.png" >
</a></div>

